# 판다스 입문 _12

- https://github.com/easysIT/doit_pandas/blob/master/notebook/12_done.ipynb

## datetime 오브젝트 
- datetime 라이브러리는 날짜와 시간을 처리하는 등의 다양한 기능을 제공 
- 본 라이브러리는 날짜를 처리하는 date 오브젝트, time을 정의하는 시간 오브젝트, 날자와 시간을 모두 정의하는 datetime 오브젝트가 포함 
- 많은 기능이 있지만 언급한 기능들이 주!

### datetime 오브젝트 사용하기

In [1]:
from datetime import datetime

In [2]:
# now, today메서드를 사용 => 현재시간을 출력가능 
now_1 = datetime.now()
print(now_1)

2020-02-03 17:07:07.083880

In [3]:
now_2 = datetime.today()
print(now_2)

2020-02-03 17:07:07.099497

In [4]:
# 옵젝트를 입력할때 시간을 직접 입력 => 인자로 전달 
# 각 변수를 출력하여 확인 => 입력한 시간으로 바탕으로 datetime 옵젝트 생성 
time_line_01 = datetime.now() # now메서드는 밀리초 단위까지 구함 
time_line_02 = datetime(1970,1,1)
time_line_03 = datetime(1970,12,12,13,24,34)

print('time_line_01 =',time_line_01)
print('time_line_02 =',time_line_02)
print('time_line_03 =',time_line_03)

time_line_01 = 2020-02-03 17:07:07.113160
time_line_02 = 1970-01-01 00:00:00
time_line_03 = 1970-12-12 13:24:34

In [5]:
# datetime 사용하는이유 => 시간계산을 할 수 있다는 점
# 시간 계산 
diffrence_time =  time_line_02 - time_line_01
print(diffrence_time)
print(type(diffrence_time))

-18296 days, 6:52:52.886840
<class 'datetime.timedelta'>

## datetime오브젝트로 변환하기 _ to_datetime메서드
- 경우에 따라서 시게열 데이터를 문자열로 저장 
- 문자열은 시간 계산이 불가능 => datetime 오브젝트로 변경이 필요 
- 그때 !  to_datetime를 사용하여 문자열을 datetime 변환

###  문자열을 datetime 오브젝트로 변환

In [6]:
import pandas as pd 
import os

In [7]:
# 에볼라 데이터 불러오기 
ebola = pd.read_csv('../data/country_timeseries.csv')

In [8]:
print(ebola.head())

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

   Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
0            NaN            NaN                 NaN          NaN         NaN
1            NaN            NaN                 NaN          NaN         NaN
2            NaN            NaN                 NaN          NaN         NaN
3            NaN            NaN                 NaN          NaN         NaN
4            NaN            NaN                 NaN          NaN         NaN

   Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
0         1786.0             NaN              2977.0             NaN
1         1781.0             NaN              2943.0             NaN
2         1767.0          3496.0              2915.0             NaN
3            NaN          3496.0                 NaN             NaN
4         1739.0          3471.0              2827.0             NaN

   Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0             NaN                  NaN           NaN          NaN
1             NaN                  NaN           NaN          NaN
2             NaN                  NaN           NaN          NaN
3             NaN                  NaN           NaN          NaN
4             NaN                  NaN           NaN          NaN

In [9]:
print(ebola.info())
# 인포는 데이터 프레임 확인가능 
# 문자열로 저장된 date열 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB
None

In [10]:
# to_datetime을 이용 => date열 자료형을 datetime오브젝트로 변환 
# 그런다음 데이터 프레임의 새로운 열로 추가 
ebola['date_dt'] = pd.to_datetime(ebola['Date'])
print(ebola['date_dt'].head(6))
print('='*50)
print(ebola.info())

0   2015-01-05
1   2015-01-04
2   2015-01-03
3   2015-01-02
4   2014-12-31
5   2014-12-28
Name: date_dt, dtype: datetime64[ns]
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

In [11]:
txt = '''
위 코드는 date열 자료형을 datetime오브젝트로 변환 ,
그 이후 데이터 프레임에 새로운 열을 추가한 것 
>>출력 결과<< 
...
Deaths_Mali     -------     12 non-null float64
>>> date_dt     -------     122 non-null datetime64[ns]
새로운 열이 추가 된 것을 확인가능하다. 
'''
print(txt)

위 코드는 date열 자료형을 datetime오브젝트로 변환 ,
그 이후 데이터 프레임에 새로운 열을 추가한 것
>>출력 결과<<
...
Deaths_Mali     -------     12 non-null float64
>>> date_dt     -------     122 non-null datetime64[ns]
새로운 열이 추가 된 것을 확인가능하다.

### to_datetime 파고 들기

In [12]:
# 시간형식 지정자 (%d,%m,%y) 와 기호(/,-)를 적절히 조합 => format인자에 전달 
# 형식에 맞게 저장된 datetime오브젝트 얻음 

test_diffrence_time = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']}) 

# 여러가지 포멧 생성 
test_diffrence_time['date_dt1'] = pd.to_datetime(test_diffrence_time['order_day'], format='%d/%m/%y')
test_diffrence_time['date_dt2'] = pd.to_datetime(test_diffrence_time['order_day'], format='%m/%d/%y')
test_diffrence_time['date_dt3'] = pd.to_datetime(test_diffrence_time['order_day'], format='%y/%m/%d')

print(test_diffrence_time)

  order_day   date_dt1   date_dt2   date_dt3
0  01/01/15 2015-01-01 2015-01-01 2001-01-15
1  02/01/15 2015-01-02 2015-02-01 2002-01-15
2  03/01/15 2015-01-03 2015-03-01 2003-01-15

In [13]:
test_diffrence_time_other =  pd.DataFrame({'order_day':['01-01-15', '02-01-15', '03-01-15']})

test_diffrence_time_other['date_dt'] = pd.to_datetime(test_diffrence_time_other['order_day'], format='%d-%m-%y')
print(test_diffrence_time_other)

  order_day    date_dt
0  01-01-15 2015-01-01
1  02-01-15 2015-01-02
2  03-01-15 2015-01-03

### 시간 형식 지정자 
    - 245p 참조

### 시계열 데이터를 구분해서 추출(알아두면 좋은)
- now메서드로 얻은 현재 시간의 시계열 데이터는 아주 정밀한 시간까지 표현 
- 원하는 시계열 데이터가 연,월,일 분이라면 -> now로 얻은 시계열 데이터를 잘라내야함 
- 그때 strftime를 사용

In [14]:
now = datetime.now()
print(now)
# now는 초단위까지

2020-02-03 17:07:07.701053

In [15]:
# strftime
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)

2020-02-03

In [16]:
nowTime = now.strftime('%H:%M:%S')
print(nowTime)

17:07:07

In [17]:
# 시간을 지정해서 출력 
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

2020-02-03 17:07:07

### datetime 오브젝트로 변환하려는 열을 지정하여 데이터 집합로드

In [18]:
# parse_dates 인자에 변환하고자하는 열의 이름을 전달하여 데이터 집합을 불러옴 
ebola_datetime_test = pd.read_csv('../data/country_timeseries.csv', parse_dates=['Date']) 
print(ebola_datetime_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null datetime64[ns]
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.2 KB
None

### datetime 오브젝트에서 날짜 정보 추출

In [20]:
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18'])
date_get = pd.to_datetime(date_series)
print(date_get)

0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]

In [21]:
# 해/연/년
print(date_get[0].year)

2018

In [22]:
# 월
print(date_get[0].month)

5

In [23]:
# 일 
print(date_get[0].day)

16

### dt 접근자로 시계열 데이터 정리
- 문자열 처리 -> str 접근자를 사용한 다음 문자열 속성이나 메서드를 사용 
- dt접근자를 사용하면 datetime속성이나 메서드를 사용하여 시계열 데이터를 처리

In [24]:
ebola = pd.read_csv('../data/country_timeseries.csv')
# 새로운 열 추가
ebola['date_dt'] = pd.to_datetime(ebola['Date'])

In [25]:
#dt 접근자 없이 인덱스가 3인 데이터의 년,월,일 출력 
print(ebola[['Date', 'date_dt']].head())

         Date    date_dt
0    1/5/2015 2015-01-05
1    1/4/2015 2015-01-04
2    1/3/2015 2015-01-03
3    1/2/2015 2015-01-02
4  12/31/2014 2014-12-31

In [26]:
print(ebola['date_dt'][3].year)

2015

In [27]:
print(ebola['date_dt'][3].month)

1

In [28]:
print(ebola['date_dt'][3].day)

2

In [29]:
# date_dt열의 특정 데이터를 인덱스로 접근  -> 불편 
# dt 접근자로 한번에 접근한후에 year속성을 이용하여 연도값을 추출 

# 추출한 값 => 새로운 열로 추가 
ebola['year'] = ebola['date_dt'].dt.year
print(ebola[['Date', 'date_dt', 'year']].head())

         Date    date_dt  year
0    1/5/2015 2015-01-05  2015
1    1/4/2015 2015-01-04  2015
2    1/3/2015 2015-01-03  2015
3    1/2/2015 2015-01-02  2015
4  12/31/2014 2014-12-31  2014

In [31]:
# dt접근자로 연,월,일을 한번에 출력 
ebola['month'], ebola['day'] = (ebola['date_dt'].dt.month, ebola['date_dt'].dt.day)

print(ebola[['Date', 'date_dt', 'year', 'month', 'day']].head())
# print(ebola)

         Date    date_dt  year  month  day
0    1/5/2015 2015-01-05  2015      1    5
1    1/4/2015 2015-01-04  2015      1    4
2    1/3/2015 2015-01-03  2015      1    3
3    1/2/2015 2015-01-02  2015      1    2
4  12/31/2014 2014-12-31  2014     12   31

In [32]:
# 데이터 확인
print(ebola.info())
# datetime은 오브젝트 
# 나머지는 정수형

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 22 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
year                   122 non-null int64
month                  122 non-null int64
day                    122 non-null int64
dtypes: datetime64[ns](1), float64(16), int64(4), object(1)
memory usage: 21.0+ KB
None