# 판다스 입문 _10

- https://github.com/easysIT/doit_pandas/blob/master/notebook/10_done.ipynb

---

## 간단한 함수 만들기

### 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(x):
    return x **2

In [2]:
def my_exp(x,n):
    return x **n

In [3]:
print(my_sq(4))

16

In [4]:
print(my_exp(2,4))

16

---

## 시리즈와 데이터프라임 apply메서드 사용

### 시리즈와 apply 메서드

In [5]:
import pandas as pd

In [6]:
df =pd.DataFrame({'a':[10,20,30],'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [8]:
# 함수에서 불러옴 
sq = df['a'].apply(my_sq) 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
# 함수 인자 개수와 어플라이 인자 개수를 맞춰 줘야한다. 
ex = df['a'].apply(my_exp, n=2) 
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
ex = df['a'].apply(my_exp, n=3) 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [11]:
# 전처리 자동화 시스템을 만들때는 함수 형태로 짜주어야한다.

### 데이터 프레임과 apply 메서드

In [12]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [13]:
def print_me(x):
    print(x)

In [14]:
# 함수에 데이터 프레임에 함수를 적용해야하기 때문에 함수를 열방향으로 적용할지 행방향으로 할지 정함 
# axis 0이나 1로 지정 
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [15]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [16]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [17]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [18]:
def avg_3(x,y,z):
    return(x + y + z )/3

In [19]:
# print(df.apply(avg_3))
# 인자값을 3개를 입력받아야 함

In [20]:
# 열단위로 데이터 처리를 할 수 있도록 개선
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    
    return(x + y + z )/3

In [21]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [22]:
# for문을 아용해 재작성 
def avg_3_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0]

In [23]:
# 위 함수를 응용 avg_3_apply()
# 행방향으로 데이터를 처리하는 함수 생성 
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [24]:
# 디폴트가 영이라서 aixs =1 언급 
# 함수 내에서는 설정 불가 
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

---

## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용

### 데이터프레임의 누락값 처리하기 ― 열 방향

In [25]:
import seaborn as sns

# 타이타닉
titanic = sns.load_dataset("titanic")

In [26]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [27]:
import numpy as np

In [28]:
# 시리즈 = vec 
# 누락 개수를 반환하는 함수 => count_missing()

def count_missing(vec):
    # isnull메서드에 데이터 프레임을 전달하면 
    # 누락 유무에 따라 불린으로 돌려줌 
    null_vec = pd.isnull(vec)
    # 이값을 넘파이의 sum메서드에 전달하면 누락값의 개수를 구할수 있음
    null_count = np.sum(null_vec)
    return null_count

In [29]:
# 결과 
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [30]:
# 함수내용  => 누락값의 비율을 계산하는 함수 => prop_missing()
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size # 전체개수 
    # 누락개수 / 전체의 개수 = 누락값의 비율
    return num / dem

In [31]:
# 함수를 적용 
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [32]:
# 데이터의 비율 구하는 함수 
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [33]:
# 시리즈 = vec 
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size # 전체개수 
    return num / dem

def prop_complete(vec):
    return 1 - prop_missing(vec)

### 데이터프레임의 누락값을 처리하기 - 행방향

In [34]:
# 행방향으로 데이터 처리 
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

In [35]:
# 행의 누락
print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [36]:
#누락값의 비율 
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [37]:
# 누락값이 아닌 값의 비율 
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [38]:
# 타이타닉 데이터프레임에 값 추가 
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
# 누락값이 있는 데이터를 데이터 프레임에 추가 -> 누락이있는것만 따로 확인가능 
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [39]:
# 누락값이 2개 이상인 데이터를 추출한것 
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass   sex  age  sibsp  parch     fare embarked   class  who  \
425         0       3  male  NaN      0      0   7.2500        S   Third  man
768         0       3  male  NaN      1      0  24.1500        Q   Third  man
517         0       3  male  NaN      0      0  24.1500        Q   Third  man
790         0       3  male  NaN      0      0   7.7500        Q   Third  man
65          1       3  male  NaN      1      1  15.2458        C   Third  man
511         0       3  male  NaN      0      0   8.0500        S   Third  man
674         0       2  male  NaN      0      0   0.0000        S  Second  man
107         1       3  male  NaN      0      0   7.7750        S   Third  man
568         0       3  male  NaN      0      0   7.2292        C   Third  man
760         0       3  male  NaN      0      0  14.5000        S   Third  man

     adult_male deck  embark_town alive  alone  num_missing
425        True  NaN  Southampton    no   True            2
768        True  NaN   Queenstown    no  False            2
517        True  NaN   Queenstown    no   True            2
790        True  NaN   Queenstown    no   True            2
65         True  NaN    Cherbourg   yes  False            2
511        True  NaN  Southampton    no   True            2
674        True  NaN  Southampton    no   True            2
107        True  NaN  Southampton   yes   True            2
568        True  NaN    Cherbourg    no   True            2
760        True  NaN  Southampton    no   True            2

In [40]:
## apply메소드는 매우중요 !!

---