# 판다스 입문 _01

## TSV

TSV는 파일 확장자의 유형입니다.

### 스프레드 시트

TSV 파일은 일반적으로 스프레드 시트간에 데이터를 전송하는 데 사용됩니다. 스프레드 시트는 더 쉽게 볼 수 있도록 행 및 열의 회계 데이터와 같은 정보를 분석하는 문서입니다. 이 유형의 프로그램은 실제 스프레드 시트 문서의 기능과 모양을 모방하도록 설계되었습니다. 스프레드 시트에 정보를 저장하는 각 공간을 셀이라고합니다. 셀은 큰 블록의 o를 포함하지 않고 짧은 체인 또는 숫자의 체인을 포함하도록 설계되었습니다.



```
import pandas 
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')
```

In [2]:
# 줄임 pd로
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

#### 시리즈와 데이터 프레임 
- 판다스에 사용되는 자료형 
- 판다스는 데이터 효율적으로 다루기 위해서 시리즈와 데이터 프레임이라는 자료형을 사용
- 파이썬으로 **비유**하자면 데이터 프레임은 시리즈들이 각 요소가 되는 딕셔너리
---

In [4]:
# 상위 5개 (기본)
print(df.head())

country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
# 데이터 타입 
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 데이터 타입 
print('#'*40)
print(type(df))
print('#'*40)
print('.dtype=',df.dtypes)
print('#'*40)

In [6]:
# 차원 확인 
# 데이터의 행과 열의 크기를 확인 
print(df.shape)

(1704, 6)

In [7]:
# 리스트 형태의 컬럼을 출력 
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
# 데이터 타입 출력 
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [9]:
# 내 컬럼에 공통된 것이 있는지 확인하고 가지고 와야 
# 데이터를 어떻게 가지고 올 것이냐 
# 처리 속도가 빠르다

In [10]:
# 가져온 데이터 목록의 전체 정보를 확인 (dtypes > info())
# 전체적으로 한번에 보여주는 함수 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [11]:
county_df = d => 시리즈df['country']
print(type(county_df))

<class 'pandas.core.series.Series'>

In [12]:
# 상위 5개(기본)
print(county_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [13]:
# 하위 5개(기본)
print(county_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [7]:
a = df['country']
print(type(a),'\n',a)

<class 'pandas.core.series.Series'>
 0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [8]:
a = df[['country']]
print(type(a),'\n',a)

<class 'pandas.core.frame.DataFrame'>
           country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
20        Albania
21        Albania
22        Albania
23        Albania
24        Algeria
25        Algeria
26        Algeria
27        Algeria
28        Algeria
29        Algeria
...           ...
1674  Yemen, Rep.
1675  Yemen, Rep.
1676  Yemen, Rep.
1677  Yemen, Rep.
1678  Yemen, Rep.
1679  Yemen, Rep.
1680       Zambia
1681       Zambia
1682       Zambia
1683       Zambia
1684       Zambia
1685       Zambia
1686       Zambia
1687       Zambia
1688       Zambia
1689       Zambia
1690       Zambia
1691       Zambia
1692     Zimbabwe
1693     Zimbabwe
1694     Zimbabwe
1695     Zimbabwe
1696     Zimbabwe
1697     Zimbabwe
1698     Zimbabwe
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [15]:
# 2개이상의 열을 출력 => DataFrame
subset = df[['country', 'continent', 'year']]
print(type(subset))

<class 'pandas.core.frame.DataFrame'>