# 판다스 입문 _03 

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

## 시리즈와 데이터프레임 직접 만들기

### 시리즈 만들기

In [2]:
import pandas as pd

In [11]:
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [12]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [13]:
# 인덱스 지정 
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

### 데이터프레임 만들기

In [14]:
# 딕셔너리를 데이터 프레임클레스에 전달
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [15]:
# 데이터 프레임도 다로 인덱스를 지정하지 않으면 인덱스를 0부터 자동으로 생성 
# 인덱스를 따로 지정하려면 index인자에 리스트를 전달 

#columns 을 이용하면 열의 순서를 지정 가능 
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [3]:
# 딕셔너리는 키와 값이 쌍을 이루지만 그 쌍의 순서는 보장이 안됨 
# 만약 보장된 쌍의 값을 전달 하기위해서는 OrderedDict를 사용해서 전달해야함
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

### 데이터프레임에서 시리즈 선택

- 코드를 보고 테이블이 머리속에 그려지는 연습을 해야한다.

In [4]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died'])

In [18]:
# 선택하려면 loc속성을 사용 인덱스에 전달  
first_row = scientists.loc['William Gosset']
# 타입이 시리즈임을 확인을위한 체크 
print(type(first_row))

<class 'pandas.core.series.Series'>

In [19]:
# 값을 출력 
print(first_row)

# 정수형 리스트를 전달해도 시리즈를 출력해 보면 
# 시리즈의 자료형을 오브젝트로 인식

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

## index, values 속성과 keys 메서드 사용

### 1.index속성 사용
- 시리즈의 인덱스가 들어 있음

In [20]:
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 2.values 속성 사용 
- 시리즈의 데이터가 들어 있음

In [21]:
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

### 3.keys 메서드 사용 
- 속성이 아닌 메소드 
- 키는 메서드는 인덱스 속성과 같은 역활

In [22]:
# 컬럼이 이중으로 잡혀 있는거 
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 4.index속성 응용

In [23]:
print(first_row.index[1])

Born

### 5. keys 메서드 index속성 응용
-'()'를 빼먹으면 안된다.

In [24]:
print(first_row.keys()[2])

Age

## 시리즈의 mean, min, max, std 메서드 사용

In [25]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [26]:
# 평균 
print(ages.mean())

49.0

In [27]:
# 최소 
print(ages.min())

37

In [28]:
# 최대
print(ages.max())

61

In [29]:
# 표준 편차 
print(ages.std())

16.97056274847714

### 시리즈와 불린 추출 사용 
- 정확한 인덱스를 모를 때 
- 특정 조건을 먼족하는 값만 추출할 수 있음

In [6]:
import pandas as pd

In [8]:
scientists = pd.read_csv('../data/scientists.csv')

In [10]:
ages = scientists['Age']
print(ages.max())

90

In [33]:
# 평균 
print(ages.mean())

59.125

In [34]:
print(ages[:])
# print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [35]:
# 시리즈 => []
# 리스트 아님 
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [36]:
print('평균=', ages.mean(), '\n',ages > ages.mean(),'\n',ages[:] )

평균= 59.125
 0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [37]:
# 조건식만 만족하는 것만 추출 
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [11]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [12]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [40]:
# manual_bool_values = [True, True, False, False, True, True, False, True] 
manual_bool_values = [False, False, True, True, False, False, True, False] 
print(ages[manual_bool_values][:])

2    90
3    66
6    41
Name: Age, dtype: int64

In [41]:
# manual_bool_values = [True, True, False, False, True, True, False, True] 
manual_bool_values = [False, False, False, True, False, False, False, False] 
# manual_bool_values = [True, True, False, False, True, True] # error 
print(ages[manual_bool_values][:])

3    66
Name: Age, dtype: int64

## 시리즈와 브로드캐스팅 
- 시리즈나 데이터 프레임에 있는 모든데이터에 대해 한 번 연산하는 것을 브로드캐스팅
- 시리즈처럼 여러개의 값을 가진 데이터를 **벡터** 
- 단순한 크기를 나타내는 데이터를 **스칼라**

---

### 벡터와 스칼라로 브로드캐스팅 수행
- 시리즈와 벡터와 유사 
- 그중에 요소 하나를 스칼라

In [42]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [43]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [44]:
print(ages +100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [45]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [46]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [13]:
print(ages + pd.Series([1,100]))
# NaN : 누락값 
# 시리즈와 숫자는 연산이 된다 
# 하지만 시리즈와 시리즈는 길이 값이 안맞으면 에러는 안나지만 NA처리가 된다 .=> 정확도 낮음

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [48]:
print(pd.Series(range(8)),'\n',ages)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64
 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [49]:
print(ages + pd.Series(range(8)))

0    37
1    62
2    92
3    69
4    60
5    50
6    47
7    84
dtype: int64

In [50]:
# na, 0값을 카운트 하는 습관을 가져야 한다.

In [51]:
# 역순 => 데이터의 역순은 아님 
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [52]:
# print(ages *2 )
print(rev_ages*2)

7    154
6     82
5     90
4    112
3    132
2    180
1    122
0     74
Name: Age, dtype: int64

In [53]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다는 것 !!

### 불린 추출과 브로드캐스팅
- 데이터 프레임도 블린추출 가능 
- 참거짓을 담은 리스트를 불린 벡터 
- 데이터 프레임의 행 길이보다 짧으면 불린 벡터만큼 연산

In [54]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [14]:
# print(scientists.iloc[[True, True, False, True]])

IndexError: Item wrong length 4 instead of 8.

In [15]:
# print(scientists.loc[:3])
print(scientists.loc[:3][[True, True, False, True]])
# scientists.loc[[True, True, False, True,True, True, False, True]]

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [56]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [57]:
print(scientists * 2)
# 그냥 두배가 됨

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

### 시리즈와 데이터프레임의 데이터 처리

In [58]:
# 오브젝트(문자열) => 판다스에서 문자열은 오브젝트로 취급 
print(scientists['Born'].dtype)
print(scientists['Died'].dtype) # 대소문자 구분

object
object

In [59]:
# to_datetime 자료형 
# format='%Y-%m-%d' 지정 
born_datetime = pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [60]:
died_datetime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [61]:
# 각 데이터 자료형을 datetime으로 바꿔 변수에 담음 
# -> born_datetime, died_datetime에 저장 
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [62]:
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [63]:
print(scientists.shape)

(8, 7)

In [64]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt'], dtype='object')

In [65]:
# 데이터 프레임 연산 => 컬럼 작업하기 전에 컬럼을 먼저 찍어 보고 출력해보자  
scientists['age_days_dt'] = (scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### 시리즈, 데이터프레임의 데이터 섞기
- 어떨때 섞어야 할까 ?

In [66]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [67]:
import random

In [68]:
random.seed(42) # 랜덤 계수 고정 
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/opt/conda/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [69]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [70]:
#데이터 프레임 열 삭제 => drop
scientists_dropped = scientists.drop(['Age'],axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [71]:
# axis=1 일때  => 컬럼 
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.head(3))

                   Name        Born        Died    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13         Nurse 1820-05-12

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days

In [72]:
# axis=0 일때 
scientists_dropped = scientists.drop([0], axis=0)
print(scientists_dropped.head(3))

                   Name        Born        Died  Age    Occupation    born_dt  \
1        William Gosset  1876-06-13  1937-10-16   56  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   41         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   77       Chemist 1867-11-07

     died_dt age_days_dt
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days

### 데이터 프레임 열 삭제하기

In [73]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [74]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

### 피클로 저장하기 
- 피클은 데이터를 바이너리 형태로 직열화한 오브젝트를 저장하는 방법
    - 피클 데이터는 반드시 read_pickle 통해서 메서드를 읽어야 한다 
- 피클은 저장 용량이 작다 
- 시리즈, 데이터프레임을 피클로 저장 -> to_pickle

In [75]:
names = scientists['Name']

In [76]:
names.to_pickle('../output/scientists_names_series.pickle')

In [77]:
scientists.to_pickle('../output/scientists_df.pickle')

In [78]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [79]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientist_names_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### CSV 파일과 TSV 파일로 저장
- csv 
    - 데이터를 쉽표로 구분
- tsv
    - 데이터를 탭으로 구분
    
TSV?
- TSV 파일은 일반적으로 스프레드 시트간에 데이터를 전송하는데 사용

In [80]:
# 인덱스가 없어서

In [81]:
names.to_csv('../output/scientists_names_series.csv')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [82]:
# 텝으로 구분해주어야 한다. 
scientists.to_csv('../output/scientists_df.tsv',sep='\t')

In [83]:
scientists.to_csv('../output/scientists_df_no_index.tsv',index=False)

In [86]:
# !pip install openpyxl
# https://anaconda.org/anaconda/openpyxl
# -y 무조건 yes
!conda install -c anaconda -y openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - openpyxl


The following NEW packages will be INSTALLED:

  et_xmlfile         anaconda/linux-64::et_xmlfile-1.0.1-py37_0
  jdcal              anaconda/noarch::jdcal-1.4.1-py_0
  openpyxl           anaconda/noarch::openpyxl-3.0.3-py_0
  simplegeneric      anaconda/linux-64::simplegeneric-0.8.1-py37_2

The following packages will be UPDATED:

  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> anaconda::openssl-1.1.1-h7b6447c_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> anaconda::ca-certificates-2019.11.27-0
  certifi                                       conda-forge --> anaconda
  conda                                           pkgs/main --> anaconda
  ipython            pkgs/main::ipython-7.11.1-py37h39e3ca~ --> anaconda::ipython-5.8.0-py37_0
  prompt_toolkit     pkgs/main/noarch::prompt_toolkit-3.0.~ --> anaconda/linux-64::prompt_toolkit-1.0.15-py37_0


Preparing transaction: done
Verifying transaction: failed

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: /opt/conda
  uid: 1000
  gid: 1000

In [85]:
# # !pip install xlwt
# # https://anaconda.org/anaconda/xlwt
# !conda install -c anaconda -y xlwt

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - xlwt


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    jupyter_console-6.1.0      |             py_0          24 KB  anaconda
    ------------------------------------------------------------
                                           Total:          24 KB

The following NEW packages will be INSTALLED:

  xlwt               anaconda/linux-64::xlwt-1.3.0-py37_0

The following packages will be UPDATED:

  jupyter_console    pkgs/main/linux-64::jupyter_console-5~ --> anaconda/noarch::jupyter_console-6.1.0-py_0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> anaconda::openssl-1.1.1-h7b6447c_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> anaconda::ca-certificates-2019.11.27-0
  certifi                                       conda-forge --> anaconda
  conda                                           pkgs/main --> anaconda



Downloading and Extracting Packages
jupyter_console-6.1. | 24 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: failed

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: /opt/conda
  uid: 1000
  gid: 1000

In [88]:
# 시리즈와 데이터프레임을 엑셀파일로 저장하기 
# 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장이 불가 
# 엑셀로 저장하기 위해서는 시리즈를 데이터 프레임으로 변환이 필요 

names_df = names.to_frame()

import xlwt
names_df.to_excel('./output/scientists_names_series_df.xls')
import openpyxl
names_df.to_excel('./output/scientists_names_series_df.xlsx')

In [91]:
# 잘 담아졌는지 확인해보고 싶어서 만든 엑셀파일을 읽어봄
# 엑셀 읽기 
import xlrd

In [92]:
scientists = pd.read_excel('../output/scientists_names_series_df.xlsx')
print(scientists)

   Unnamed: 0                  Name
0           0     Rosaline Franklin
1           1        William Gosset
2           2  Florence Nightingale
3           3           Marie Curie
4           4         Rachel Carson
5           5             John Snow
6           6           Alan Turing
7           7          Johann Gauss

In [93]:
scientists = pd.read_excel('../output/scientists_names_series_df.xls')
print(scientists)

   Unnamed: 0                  Name
0           0     Rosaline Franklin
1           1        William Gosset
2           2  Florence Nightingale
3           3           Marie Curie
4           4         Rachel Carson
5           5             John Snow
6           6           Alan Turing
7           7          Johann Gauss