# 판다스 입문 _11

- https://github.com/easysIT/doit_pandas/blob/master/notebook/07_done.ipynb

## 그룹연산 
- 데이터를 집계하거나 변환하는 등의 작업을 한번에 처리할 수 있는 강력한 기능 중 하나

- 분할 : 어떤기준으로 데이터를 나누는것 
- 반영 : 함수등을 적용해서 데이터를 처리하는것 
- 결합 : 처리한 결과를 다시 합치는 것 

- 분활 -> 반영 -> 결합(split - apply - combine) 과정을 거침 

---
- 집계 
    - 수집한 데이터를 바탕으로 평균이나 합 등을 구하여 의미있는 값을 도출해 내는것 
    - 전체 데이터를 요약, 정리하여 볼 수 있기 때문에 분석이 편리 
---

### groupby 메서드로 평균값 구하기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [4]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
# year 열을 기준으로 데이터를 그룹화 한 다음 lifeExp열을 구한 것
avg_life_exp_by_year = df.groupby('year').lifeExp.mean()
# 같은 결과를 가짐 아래에 실습 해봄 
# avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()

In [6]:
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [7]:
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()

In [8]:
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

---

### 분할-반영-결합 과정 체크 
- 연도 별로 데이터를 나눔 
- gourpby메서드 => 열에 이름을 전달하면 분할 작업이 먼저 일어남

In [10]:
# 확인을 위해 데이터를 확인 
print(df.year)

0       1952
1       1957
2       1962
3       1967
4       1972
5       1977
6       1982
7       1987
8       1992
9       1997
10      2002
11      2007
12      1952
13      1957
14      1962
15      1967
16      1972
17      1977
18      1982
19      1987
20      1992
21      1997
22      2002
23      2007
24      1952
25      1957
26      1962
27      1967
28      1972
29      1977
        ...
1674    1982
1675    1987
1676    1992
1677    1997
1678    2002
1679    2007
1680    1952
1681    1957
1682    1962
1683    1967
1684    1972
1685    1977
1686    1982
1687    1987
1688    1992
1689    1997
1690    2002
1691    2007
1692    1952
1693    1957
1694    1962
1695    1967
1696    1972
1697    1977
1698    1982
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [9]:
# 분할 part 
# - year열의 데이터를 중복 없이 추출 
years =  df.year.unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [12]:
# 반영 part_1
# 연도 별로 평균값을 구함 
# -> 각 연도 별로 데이터를 추출 
y1952 = (df.year == 1952)
y1952 = df.loc[y1952, :]
print(y1952.head())

# y1952 = df.loc[df.year == 1952, :]
# print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [14]:
# 반영 part_2
# 평균값구하기 
y1952_mean = y1952.lifeExp.mean()
print(y1952_mean)

49.05761971830987

In [18]:
# 반영 part_3
# 반복해서 남은 연도이 평균값을 구함 

# 1957
y1957 = df.loc[df.year == 1957, : ]
y1957_mean = y1957.lifeExp.mean( )
print(y1957_mean)

# 1962
y1962 = df.loc[df.year == 1962, : ]
y1962_mean = y1962.lifeExp.mean( )
print(y1962_mean)

#2007
y2007 = df.loc[df.year == 2007, : ]
y2007_mean = y2007.lifeExp.mean( )
print(y2007_mean)

51.50740112676054
53.60924901408449
67.00742253521126

In [19]:
# 연도 별로 계산한 lifeExp의 평균값을 합함 
# 결합 part
df2 = pd.DataFrame({"year":[1952, 1957, 1962, 2007],
                   "" : [y1952_mean, y1957_mean, y1962_mean, y2007_mean]})
print(df2)

   year
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

### 평균값을 구하는 사용자 함수 &groupby 메서드 
- 교제(221p) : 집계 메서드 확인

In [20]:
# 열의 평균 값을 구하는 메소드 
def my_mean(values):
    n = len(values)
    
    sum = 0
    for value in values:
        sum += value
        
    return sum / n

In [21]:
# agg 메서드를 사용해서 작업 
# mean메서드를 사용하여 얻은 값과 동일 
agg_my_mean = df.groupby('year').lifeExp.agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 두 개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드

In [23]:
# 2개의 인자 값을 받아서 처리하는 사용자 정의 함수 
# 열의 평균값을 구하여 두번째 인자로 받은 값과의 차이를 계산 후 반환 
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0 
    for value in values:
        sum += value
    mean = sum / n
    return mean - diff_value

???

In [24]:
# 연도별 평균 수명에서 전체 평균 수명을 뺀 값 
# agg메서드 첫 인자에 my_mean_diff를 함수를 전달 
# 두번째 인자 =>  전체 평균 수명값을 전달 

global_mean = df.lifeExp.mean()
print(global_mean)

59.47443936619713

In [25]:
agg_my_mean_diff = df.groupby('year').lifeExp.agg(my_mean_diff, diff_value = global_mean)
print(agg_my_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

###  집계 메서드를 리스트, 딕셔너리에 담아 전달
- 여러개의 집계 메서드 한번에 사용하기 
- 집계 메서드를 리스트나 딕셔너리에 담아 agg 메서드에 전달

In [26]:
import numpy as np

In [27]:
# 그룹화 한 lifeExp 열의 0이 아닌 값의 개수, 평균, 표준편차를 한번에 계산 
gdf = df.groupby('year').lifeExp.agg([np.count_nonzero, np.mean, np.std])
# 출력 
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [28]:
# 집계 메서드를 딕셔너리에 담아 agg메소드에 전달 
# 딕셔너리의 키로 집계 메서드를 적용할 열이름을 전달 -> 딕셔너리의 값으로 집계 메서드를 전달 
gdf_dict = df.groupby('year').agg({'lifeExp':'mean', 'pop':'median','gdpPercap':'median'})
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334741
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371109

#### 225-239 skip