# 판다스 입문 _07

- https://github.com/easysIT/doit_pandas/blob/master/notebook/07_done.ipynb

## 넓은 데이터 -  melt 메서드 사용
- 컬럼으로 된 아이들을 로우(열)로 변환하는 작업을 하는 메서드
- 데이터프레임의 열은 파이썬의 변수와 비슷한 역활을 함 
- 데이터프레임의 열이 옆으로 길게 늘어선 형태가 됨 => 넓은 데이터

#### -  melt 메서드 사용
- 지정한 열의 데이터를 모두 행으로 정리 
    - id_vars    : 위치를 그대로 유지할 열의 이름을 지정 
    - value_vars : 행으로 위치를 변경할 열의 이름을 지정
    - var_name : value_vars로 위치를 변경한 열의 이름을 지정 
    - value_name: var_name으로 위치를 변경한 열의 데이터를 저장한 열의 이름을 지정

### 1개의 열만 고정하고 나머지 열을 행으로 바꾸기
- 사용데이터 : 미국의 소득과 종교 from pew Research Center

In [1]:
import pandas as pd

In [2]:
pew = pd.read_csv('../data/pew.csv')

In [3]:
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [4]:
print(pew.columns)

Index(['religion', '<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k', '$75-100k', '$100-150k', '>150k', 'Don't know/refused'],
      dtype='object')

In [5]:
# 6개의 열만 출력 => 소득과 종교 데이터 출력 
#  소득정보가 열을 구성 => 소득 정보를열을 행 데이터로 
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [6]:
# religion열을 고정하여 피벗 
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [7]:
# variable, value 열이름 바꾸기 
pew_long = pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

###  2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [8]:
# 빌보드 
billboard = pd.read_csv('../data/billboard.csv')

In [9]:
print(billboard.iloc[0:5,0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [10]:
# 열고정 ['year', 'artist', 'track', 'time', 'date.entered']
# 나머지 열을 피벗 
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')

print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [11]:
# 구조를 변경 
print(billboard_long)

       year                artist                    track  time date.entered  \
0      2000                 2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000          3 Doors Down                    Loser  4:24   2000-10-21
4      2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5      2000                  98^0  Give Me Just One Nig...  3:24   2000-08-19
6      2000               A*Teens            Dancing Queen  3:44   2000-07-08
7      2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
8      2000               Aaliyah                Try Again  4:03   2000-03-18
9      2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
10     2000         Adkins, Trace                     More  3:05   2000-04-29
11     2000   Aguilera, Christina  Come On Over Baby (A...  3:38   2000-08-05
12     2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
13     2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
14     2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
15     2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
16     2000                 Amber                   Sexual  4:38   1999-07-17
17     2000             Anastacia           I'm Outta Love  4:01   2000-04-01
18     2000         Anthony, Marc              My Baby You  3:59   2000-09-16
19     2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
20     2000                 Avant            My First Love  4:28   2000-11-04
21     2000                 Avant                Separated  4:13   2000-04-29
22     2000                 BBMak                Back Here  3:35   2000-04-29
23     2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
24     2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
25     2000  Backstreet Boys, The                  The One  3:46   2000-05-27
26     2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
27     2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
28     2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
29     2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
...     ...                   ...                      ...   ...          ...
24062  2000          Thomas, Carl                Emotional  4:31   2000-11-25
24063  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
24064  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
24065  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
24066  2000                 Train            Meet Virginia  3:55   1999-10-09
24067  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
24068  2000                 Trina                Pull Over  2:58   2000-09-09
24069  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
24070  2000               Tuesday                   I Know  4:06   2000-12-30
24071  2000          Urban, Keith          Your Everything  4:10   2000-07-15
24072  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
24073  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
24074  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
24075  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
24076  2000      Vertical Horizon             You're A God  3:45   2000-08-26
24077  2000             Vitamin C  Graduation (Friends ...  4:23   2000-04-15
24078  2000             Vitamin C                 The Itch  3:30   2000-12-02
24079  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
24080  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
24081  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
24082  2000              Westlife           Swear It Again  4:07   2000-04-01
24083  2000      Williams, Robbie                   Angels  3:56   1999-11-20
24084  2000           Wills, Mark              Back At One  4:00   2000-01-15
24085  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
24086  2000         Wright, Chely                   It Was  3:51   2000-03-04
24087  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000       matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
5       wk1    51.0
6       wk1    97.0
7       wk1    84.0
8       wk1    59.0
9       wk1    76.0
10      wk1    84.0
11      wk1    57.0
12      wk1    50.0
13      wk1    71.0
14      wk1    79.0
15      wk1    80.0
16      wk1    99.0
17      wk1    92.0
18      wk1    82.0
19      wk1    77.0
20      wk1    70.0
21      wk1    62.0
22      wk1    99.0
23      wk1    39.0
24      wk1    74.0
25      wk1    58.0
26      wk1    67.0
27      wk1    99.0
28      wk1    77.0
29      wk1    72.0
...     ...     ...
24062  wk76     NaN
24063  wk76     NaN
24064  wk76     NaN
24065  wk76     NaN
24066  wk76     NaN
24067  wk76     NaN
24068  wk76     NaN
24069  wk76     NaN
24070  wk76     NaN
24071  wk76     NaN
24072  wk76     NaN
24073  wk76     NaN
24074  wk76     NaN
24075  wk76     NaN
24076  wk76     NaN
24077  wk76     NaN
24078  wk76     NaN
24079  wk76     NaN
24080  wk76     NaN
24081  wk76     NaN
24082  wk76     NaN
24083  wk76     NaN
24084  wk76     NaN
24085  wk76     NaN
24086  wk76     NaN
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

---

## 열이름 관리 
- 하나의 열이 여러의미를 가지는 경우

### ebola 데이터 집합

In [12]:
ebola = pd.read_csv('../data/country_timeseries.csv')

In [13]:
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [14]:
print(ebola.iloc[:5,[0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [15]:
# Date,Day 고정하고 나머지행 피벗 
# => 사망자 수를 행으로 볼수 있어서 편리   
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [51]:
print(type(ebola_long))

<class 'pandas.core.frame.DataFrame'>

---

## 열이름 분리
- split이용

In [16]:
# 언더바 기준으로 쪼겔 것 
variable_split = ebola_long.variable.str.split('_')

In [17]:
print(ebola_long[:5])

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [18]:
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [19]:
# 사각 괄호 //// ???

In [20]:
# 자료형 => 시리즈 
print(type(variable_split))

<class 'pandas.core.series.Series'>

In [21]:
# 각 시리즈에 저장된 값의 자료형은 리스트 
print(type(variable_split[0]))

<class 'list'>

In [22]:
# get 메소드 => 0,1인덱스를 한번에 추출 
status_values = variable_split.str.get(0) 
country_values = variable_split.str.get(1)
# print(status_values)

In [23]:
print(status_values[:5])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [24]:
# 열길이 확인 
print(status_values.shape)

(1952,)

In [25]:
print(status_values[-5:])

1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object

In [26]:
print(country_values[:5])

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [27]:
print(country_values.shape)

(1952,)

In [28]:
print(country_values[-5:])

1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [29]:
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [30]:
# status,country 열 이름으로 데이터 프레임에 추가한 코드 
ebola_long['status'] = status_values
ebola_long['country'] = country_values

In [31]:
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

---

## 또 다른 방법 
### concat 메서드를 응용하여 데이터프레임에 열 추가

In [32]:
variable_split = ebola_long.variable.str.split('_', expand=True) 
variable_split.columns = ['status', 'country'] 
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

---

## 여러 열 하나로 정리

### 기상 데이터의 여러 열을 하나로 정리하기
    ─ melt, pivot_table 메서드

In [33]:
# 데이터 가져오고 확인 
weather = pd.read_csv('../data/weather.csv') 
print(weather.iloc[:10, :11])

        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN
5  MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN
6  MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN
7  MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN
8  MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN
9  MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN

In [34]:
# melt
# 날짜 열을 행데이터로 피벗 
weather_melt = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name='temp') 
print(weather_melt.head(10))

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN
5  MX17004  2010      3    tmin  d1   NaN
6  MX17004  2010      4    tmax  d1   NaN
7  MX17004  2010      4    tmin  d1   NaN
8  MX17004  2010      5    tmax  d1   NaN
9  MX17004  2010      5    tmin  d1   NaN

### 다시 집고 넘어가기 
**피벗 테이블(pivot_table)이란?**     
- 데이터 열 중에서 두 개의 열을 각각 행 인덱스, 열 인덱스로 사용하여      
    => 데이터를 조회하여 펼쳐놓은 것     
    => pivot메서드 사용       
    

[참고](https://datascienceschool.net/view-notebook/76dcd63bba2c4959af15bec41b197e7c/)

In [35]:
# element => 컬럼으로 
# weather_melt 참고해서 이해 
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'], 
    columns='element', 
    values='temp'
)

In [36]:
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30  27.8  14.5
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6    NaN   NaN
                   d7    NaN   NaN
                   d8    NaN   NaN
...                      ...   ...
             12    d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30   NaN   NaN
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

In [37]:
# 데이터 프레임의 인덱스를 reset_index메서드로 새로 지정한것 
weather_tidy_flat = weather_tidy.reset_index() 
print(weather_tidy_flat.head(10))

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
5        MX17004  2010      1  d14   NaN   NaN
6        MX17004  2010      1  d15   NaN   NaN
7        MX17004  2010      1  d16   NaN   NaN
8        MX17004  2010      1  d17   NaN   NaN
9        MX17004  2010      1  d18   NaN   NaN

---

## 빌보드 차트의 중복 데이터 처리
- 열 데이터의 반복 => 따로 관리하는것이 좋음

In [38]:
billboard = pd.read_csv('../data/billboard.csv')
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')

In [39]:
print(billboard_long.shape)

(24092, 7)

In [40]:
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [41]:
# 트렉 : 노레제목 
# Loser => 중복 데이터가 상당히 많음 
print(billboard_long[billboard_long.track == 'Loser'].head(10))
# 가수는 고유한 값이기 대문에 따로 관리하는것이 데이터의 일관성을 유지하는 데 도움

      year        artist  track  time date.entered  week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588  2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905  2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222  2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539  2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856  2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0

In [42]:
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']] 
print(billboard_songs.shape)
# 중복 데이터를 가지고 있는 열은 따로모아 새로운 데이터 프레임에 저장

(24092, 4)

In [43]:
# 불린으로 중복 체크 
print(billboard_songs.duplicated())

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
24062     True
24063     True
24064     True
24065     True
24066     True
24067     True
24068     True
24069     True
24070     True
24071     True
24072     True
24073     True
24074     True
24075     True
24076     True
24077     True
24078     True
24079     True
24080     True
24081     True
24082     True
24083     True
24084     True
24085     True
24086     True
24087     True
24088     True
24089     True
24090     True
24091     True
Length: 24092, dtype: bool

In [44]:
# 반복된거를 삭제 
#  데이터 프레임의 중복 데이터 삭제 
# drop_duplicates
billboard_songs = billboard_songs.drop_duplicates() 
print(billboard_songs.shape)

(317, 4)

In [45]:
# 중복을 제거한 데이터프레임에 아이디 추가 
billboard_songs['id'] = range(len(billboard_songs))
# 데이터 확인 => id 값 ghkrdls 
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [46]:
# merge사용 => 노래정보와 주간 순위데이터 합함
billboard_ratings = billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time'])
print(billboard_ratings.shape)

(24092, 8)

In [47]:
print(billboard_ratings.head())

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

---

## 대용량 데이터 처리 
- 용량이 많을 경우 여러개로 나누어 저장
- 그러면 여러개로 나누어진 데이터를 불러와 사용 
### 뉴욕 택시 데이터

In [48]:
##  깃에 안올라가서 다시 돌릴때 다운 받으삼 
# import os 
# import urllib.request

# # 네트워크 상태에 따라 5 ~ 15분이 소요됩니다.
# with open('../data/raw_data_urls.txt', 'r') as data_urls:
#     for line, url in enumerate(data_urls):
#         # 140개중 5개만 가지고옴 ㄴ
#         if line == 5:
#             break 
#         fn = url.split('/')[-1].strip()
#         fp = os.path.join('', '../data', fn)
#         print(url)
#         print(fp)
#         urllib.request.urlretrieve(url, fp)

In [49]:
import glob 
nyc_taxi_data = glob.glob('../data/fhv_*') 
print(nyc_taxi_data)

[]

In [50]:
# 데이터 프레임으로 저장  => 양이 많아서 저장하는데 시간 소요 될수 있음 
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1]) 
taxi3 = pd.read_csv(nyc_taxi_data[2]) 
taxi4 = pd.read_csv(nyc_taxi_data[3]) 
taxi5 = pd.read_csv(nyc_taxi_data[4])

IndexError: list index out of range

In [ ]:
# 읽어드리기 
print(taxi1.head(n=2)) 
print(taxi2.head(n=2)) 
print(taxi3.head(n=2)) 
print(taxi4.head(n=2)) 
print(taxi5.head(n=2))

In [ ]:
# 데이터 크기 확인 
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

In [ ]:
# concat으로 데이터 합치기 
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
# [taxi1, taxi2, taxi3, taxi4, taxi5]

In [ ]:
# 데이터 크기 확인 
print(taxi.shape)

In [ ]:
print(taxi.head())

### 반복문으로 데이터 준비
- 응용하면 단 몇 줄의 코드로 데이터를 준비가능     
- 반복문으로 읽어서 -> 리스트에 이어 붙이면        
-> 순서대로 리스트에서 데이터 프레임으로 저장

In [ ]:
list_taxi_df = []

for csv_filename in nyc_taxi_data:
#     print(csv_filename)
    df = pd.read_csv(csv_filename)
#     print(df)
    list_taxi_df.append(df)

print(len(list_taxi_df))
# 왜 ? 5개?
# 붙이는 파일 개수인것 같음 
# print(list_taxi_df)

In [ ]:
print(type(list_taxi_df[0]))

In [ ]:
print(list_taxi_df[0].head())

In [ ]:
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

In [ ]:
print(taxi.equals(taxi_loop_concat))

In [ ]:
# 넓은 데이터를 분석하기 좋게 => 피벗부터 중복데이터를 처리하는 방법과 열을 하나로 합치는 실습ㄲ지 진행 
# 데이터 분석에는 깔끔한 데이터는 매우 중요함

---